.SeeIt.data-menu {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: red;
  display: inline-block;
}

.SeeIt.graph-container{
  margin: 2%;
  width: 96%;
  height: 96%;
  overflow-y: auto;
}

.SeeIt.page-container {
  height: 100%;
  width: 100%;
}

.SeeIt.row {
  height: 100%;
}

.SeeIt.col-md-2, .SeeIt.col-md-10, .SeeIt.col-md-12 {
  height: 100%;
}

.SeeIt.container-fluid {
  height: calc(100% - 52px);
}

.SeeIt.dataset a.SeeIt.selected {
  color: white;
}

.SeeIt.Data {
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.SeeIt.Data .SeeIt.list-group{
    max-height: 100%;
    /*overflow-y: auto; */
}

.SeeIt.Graphs {
  max-height: calc(100% - 52px);
  overflow-y: auto;
}

.SeeIt.graph-list {
  height: 100%;
}

.SeeIt.graph {
/*  height: 25%;
  min-height: 300px;
*/}

.SeeIt.graph-panel {
  height: 100%;
}

.addGraph .iconContainer {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.addGraph a {
  display: inline-block !important;
  padding-left: 5px !important;
}

.SeeIt.panel-heading {
  font-size: 20px;
  min-height: 54px;
}

.SeeIt.panel-heading .glyphicon {
  padding-left: 10px;
  padding-right: 10px;
}

.SeeIt.graph-panel .panel-collapse {
  min-height: 300px;
}

.SeeIt.maximized {
  height: 100%;
}