.SeeIt.data-menu {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: red;
  display: inline-block;
}

.SeeIt.graph-container{
  margin: 2%;
  width: 96%;
  height: 96%;
  overflow-y: auto;
}

.SeeIt.nav-el {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.SeeIt.dataset-view-group {
  width: 100%;
}

.SeeIt.dataset-title {
  color: #428bca;
  font-weight: bold;
}

.SeeIt.dataset-view-group button {
  width: 100%;
  white-space: normal !important
}

.SeeIt.graph-panel-content {
  min-height: 300px;
/*  height: calc(100% - 54px);*/
}

.SeeIt.graph-panel-content .panel-body,
.SeeIt.graph-panel-content .graph-wrapper
 {
  height: 100%;
}


.SeeIt.nav-el.left {
  padding-left: 10px;
}

.SeeIt.nav-el.right {
  padding-right: 10px;
}

.SeeIt.page-container {
  height: 100%;
  width: 100%;
}

.SeeIt.graph-title-content {
  display: inline-block;
/*  min-width: 5%;*/
}


.SeeIt.Handsontable-Container {
/*  width: 100%;*/
/*  width: -webkit-calc(100% - 50px);
  width: -moz-calc(100% - 50px);
  width: calc(100% - 50px);
  padding-right: 50px;*/
}

.SeeIt.spreadsheet {
  height: -webkit-calc(100% - 54px);
  height: -moz-calc(100% - 54px);
  height: calc(100% - 54px);
  min-height: -webkit-calc(100% - 54px);
  min-height: -moz-calc(100% - 54px);
  min-height: calc(100% - 54px);
}

.SeeIt.remove-options {
  float: right;
  cursor: pointer;
}

.SeeIt.options-panel {
  padding: 0;
}

.SeeIt.options-wrapper.hidden {
  display: none;
}

.SeeIt.graph-title-edit-icon, .SeeIt.title-edit-icon {
  cursor: pointer;
}

.SeeIt.graph-title {
  display: inline;
  padding-left: 1%;
}

.SeeIt.new-dataset-input.hidden, {
  display: none;
}

.SeeIt.new-dataset-form {
  display: none;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  margin-top: 0;
  border-radius: 4px;
}

.SeeIt.data-column-button {
  height: 100%;
  white-space: normal !important;
}

.SeeIt.dropdown-container a.disabled {
/*  background-color:#d9d9d9 !important;*/
  color:#aaa !important;
}

.SeeIt.dropdown-submenu > .dropdown-menu {
  top: 100%;
  left: 0;
}

@media (min-width: 992px) {
  .SeeIt.row .SeeIt.Data {
    height: 100%;
  }

  .SeeIt.Graphs .SeeIt.graph-buttons {
    float: right;
  }

  .SeeIt.options-wrapper {
    min-height: 270px;
    overflow-y: auto;
  }

  .SeeIt.Graphs {
    max-height: 100%;
    overflow-y: auto;
  }

  .SeeIt.Graphs.spreadsheet-visible, .SeeIt.Spreadsheet {
    max-height: 50%;
    overflow-y: auto;
  }
}

@media (max-width: 991px) {
  .SeeIt.Spreadsheet {
    height: auto !important;
  }

  .SeeIt.row .SeeIt.Data {
    height: auto;
  }

  .SeeIt.Graphs .SeeIt.graph-buttons {
    width: 100%;
    margin-bottom: 10px;
  }

  .SeeIt.Graphs .SeeIt.graph-buttons button {
    width: 20%;
  }

  .SeeIt.data-rep.btn-group {
    width: 100%;
  }

  .SeeIt.data-rep.btn-group .data-rep-color {
    width: 20%;
  }

  .SeeIt.data-rep.btn-group .data-rep-remove {
    width: 20%;
  }

  .SeeIt.data-rep.btn-group .data-rep-text {
    width: 60%;
  }

  .SeeIt.graph-panel .SeeIt.panel-heading {
    text-align: center;
  }

/*  .SeeIt.graph-title .glyphicon {
    float: right;
  }*/
}

.SeeIt.row {
  height: 100%;
}

.SeeIt.col-md-2, .SeeIt.col-md-3, .SeeIt.col-md-9, .SeeIt.col-md-10, .SeeIt.col-md-12 {
  height: 100%;
}

.SeeIt.container-fluid {
  height: calc(100% - 52px);
}

.SeeIt.data-container {
  min-height: 60px;
}

.SeeIt.data-column-panel {
  border: none;
  padding: 0;
  margin-bottom: 0;
}

.SeeIt.data-column-panel-body {
  padding: 0;
}

.SeeIt.bar rect {
  fill: steelblue;
/*  border: 2px inset black;*/
}

.SeeIt.bar text {
  fill: #fff;
  font: 12px sans-serif;
}

.SeeIt.axis .label {
  color: black;
  opacity: 1;
  fill: black;
}

.SeeIt.dataset a.SeeIt.selected, .SeeIt.new-dataset-li a.SeeIt.selected {
  color: white;
}

.SeeIt.Data {
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.SeeIt.Data.hover {
  border: 10px dashed #333;
}

.SeeIt.spreadsheet-button-group {
  float: right;
}

.SeeIt.spreadsheet.panel-body {
  /*padding: 0;*/
  display: block;
  overflow: auto;
}

.SeeIt.spreadsheet-panel {
  height: 100%;
  min-height: 100%;
}

.SeeIt.Data .SeeIt.list-group{
/*    max-height: 100%;*/
    /*overflow-y: auto; */
}

div.SeeIt.footer-row.row, div.SeeIt.footer-expanded-row.row {
  margin-right: -5px;
  margin-left: -5px;
}

div.SeeIt.footer-expanded-row.row {

}

.SeeIt.data-rep {
  border-radius: 4px;
  min-height: 44px;
  margin: 2px;
}

.SeeIt.expanded-data-container {
  display: none;
}

.SeeIt.data-rep-remove, .SeeIt.data-rep-text, .SeeIt.data-rep-color {
  height: 44px;
}

.SeeIt.data-rep-remove {
  min-width: 15px;
  background-color: #BBBBBB;
  padding: 10px;
}

.SeeIt.data-rep-text {
  padding: 10px 5px;
  min-width: 40px;
}

div.SeeIt.data-rep {
  display: inline-block;
}

div.SeeIt.data-drop-zone-container, div.SeeIt.expanded-data-container {
/*  border: 1px inset grey;*/
  padding-right: 5px;
  padding-left: 5px;

}

.SeeIt.filters-header {
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
}

.SeeIt.expand-data {
  float: right;
  min-height: 48px;
  min-width: 48px;
}


.SeeIt.add-filter, .SeeIt.remove-filter-group {
  display: inline-block;
  margin-top: 10px;
  width: 40%;
}

.SeeIt.add-filter-group, .SeeIt.remove-filter, .SeeIt.save-filters, .SeeIt.save-filters-all, .SeeIt.toggle-filters {
  margin-top: 10px;
  width: 100%;
}

h3.SeeIt.role-name {
  margin: 0;
  font-size: 20px;
}

div.SeeIt.data-drop-zone {
  border: 1px inset transparent;
  min-height: 50px;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

div.SeeIt.data-drop-zone:not(.bg-primary) {
  background-color: white;
}

div.SeeIt.expanded-data-zone {
  background-color: white;
  border: 1px inset transparent;
  border-radius: 4px;
  min-height: 100px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.SeeIt .boxplot .whole-box {
  fill: transparent;
}

/*div.SeeIt.footer-row.row {
  margin-left: -10px;
  margin-right: -10px;
}*/


.SeeIt.hidden {
  display: none
}

.SeeIt.Spreadsheet.hidden {
  display: none;
}


.SeeIt.graph-list {
  height: 100%;
}

.SeeIt.graph {
/*  height: 25%;
  min-height: 300px;
*/}

.SeeIt-htCenter {
  text-align: center !important;
}

.SeeIt.graph-panel {
  height: 100%;
}

.SeeIt.numeric-filter, .SeeIt.categorical-filter,
.SeeIt.filter-group-type, .SeeIt.filter-group-requirements  {
  margin-top: 10px;
  display: inline-block;
  width: auto;
}

.SeeIt.filter-group {
  margin: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid black;

}

.SeeIt.icon-container {
  display: inline-block;
  padding-right: 10px;
}

.addGraph .iconContainer {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.addGraph a {
  display: inline-block !important;
  padding-left: 5px !important;
}

.SeeIt.panel-heading {
  font-size: 20px;
  min-height: 54px;
}

.SeeIt.panel-heading .glyphicon {
  padding-left: 10px;
  padding-right: 10px;
}

.SeeIt.new-dataset-msg {
  display: none;
  width: 100%;
  text-align: center;
}

.SeeIt.new-dataset-msg.error {
  color: red;
  display: inline;
}

.SeeIt.spin{
  -webkit-transform-origin: 50% 58%;
  transform-origin:50% 58%;
  -ms-transform-origin:50% 58%; /* IE 9 */
  -webkit-animation: spin .6s infinite linear;
  -moz-animation: spin .6s infinite linear;
  -o-animation: spin .6s infinite linear;
  animation: spin .6s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.SeeIt.graph-panel .panel-collapse {
  min-height: 300px;
}

.SeeIt.spreadsheet_maximized {
  min-height: calc(100vh - 150px);
  height: calc(100vh - 150px);
  transition: all 0.2s ease-in-out;
}

.SeeIt.maximized .SeeIt.graph-wrapper {
  min-height: calc(100vh - 150px);
  height: calc(100vh - 150px);
}

.SeeIt.axis path,
.SeeIt.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.SeeIt.dot {
  stroke: #000;
}

.SeeIt.info {
  width: 80px;
  height: 20px;
  text-align: center;
  display: inline-block;
  word-wrap: break-word;
}

td.htNumeric.SeeIt-htCenter {
  background-color: #ffedcc;
}

td:not(.htNumeric).SeeIt-htCenter {
  background-color: #ccffcc;
}

#holder {
  width: inherit; 
  height: 100vh;
  text-align: center;
  padding: 40vh 0;
}
.hover {
  border: 5px dashed #808080;
  background-color: #D3D3D3;
  transition: background-color .5s ease-in-out;
  opacity: 0.6;
}

.upload_icon {
  width: 100%;
  height: 80px;
  fill: #808080;
  display: block;
  opacity: 0.8;
}

.btn.active {
  color: white;
  background-color: #428bca;
  transition: all 0.3s ease-in-out;
}