.SeeIt.data-menu {
  position: absolute;
  width: 20%;
  height: 100%;
  background-color: red;
  display: inline-block;
}

.SeeIt.graph-container{
  margin: 2%;
  width: 96%;
  height: 96%;
  overflow-y: auto;
}

.SeeIt.nav-el {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
}

.SeeIt.nav-el.left {
  padding-left: 10px;
}

.SeeIt.nav-el.right {
  padding-right: 10px;
}

.SeeIt.page-container {
  height: 100%;
  width: 100%;
}

.SeeIt.graph-title-content {
  display: inline-block;
/*  min-width: 5%;*/
}

.SeeIt.options-wrapper {
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}

.SeeIt.remove-options {
  float: right;
  cursor: pointer;
}

.SeeIt.options-panel {
  padding: 0;
}

.SeeIt.options-wrapper.hidden {
  display: none;
}

.SeeIt.graph-title-edit-icon {
  cursor: pointer;
}

.SeeIt.graph-title {
  display: inline;
  padding-left: 1%;
}

.SeeIt.new-dataset-input.hidden, {
  display: none;
}

.SeeIt.new-dataset-form {
  display: none;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  margin-top: 0;
  border-radius: 4px;
}

.SeeIt.row {
  height: 100%;
}

.SeeIt.col-md-2, .SeeIt.col-md-10, .SeeIt.col-md-12 {
  height: 100%;
}

.SeeIt.container-fluid {
  height: calc(100% - 52px);
}

.SeeIt.data-container {
  min-height: 60px;
}

.SeeIt.dataset a.SeeIt.selected, .SeeIt.new-dataset-li a.SeeIt.selected {
  color: white;
}

.SeeIt.Data {
  padding-left: 0;
  padding-right: 0;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #ddd;
  overflow-y: auto;
}

.SeeIt.spreadsheet-button-group {
  float: right;
}

.SeeIt.spreadsheet.panel-body {
  /*padding: 0;*/
}

.SeeIt.spreadsheet-panel {
  height: 100%;
  min-height: 100%;
}

.SeeIt.Data .SeeIt.list-group{
    max-height: 100%;
    /*overflow-y: auto; */
}

.SeeIt.Graphs {
  max-height: calc(100% - 52px);
  overflow-y: auto;
}

.SeeIt.Spreadsheet.hidden {
  display: none;
}

.SeeIt.Graphs.spreadsheet-visible, .SeeIt.Spreadsheet {
  max-height: calc(50% - 26px);
  overflow-y: auto;
}

.SeeIt.graph-list {
  height: 100%;
}

.SeeIt.graph {
/*  height: 25%;
  min-height: 300px;
*/}

.SeeIt.graph-panel {
  height: 100%;
}

.addGraph .iconContainer {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.addGraph a {
  display: inline-block !important;
  padding-left: 5px !important;
}

.SeeIt.panel-heading {
  font-size: 20px;
  min-height: 54px;
}

.SeeIt.panel-heading .glyphicon {
  padding-left: 10px;
  padding-right: 10px;
}

.SeeIt.graph-panel .panel-collapse {
  min-height: 300px;
}

.SeeIt.maximized {
  height: 100%;
}

.SeeIt.axis path,
.SeIt.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.SeeIt.dot {
  stroke: #000;
}