<!DOCTYPE html>
<body>
	<!-- CSS -->
	<style type="text/css"> 

	#holder {
		width: inherit; 
		height: 100vh;
		text-align: center;
		padding: 40vh 0;
	}
	.hover {
		border: 5px dashed #808080;
		background-color: #D3D3D3;
	  transition: background-color .5s ease-in-out;
	  opacity: 0.6;
	}

	.upload_icon {
		width: 100%;
    height: 80px;
    fill: #808080;
    display: block;
    opacity: 0.8;
	}

	</style>

	<!-- HTML -->
	
	<div id="holder">
		<h1 class="upload_msg hidden">Drop file here</h1>
		<svg class="upload_icon hidden" width="50" height="43" viewBox="0 0 50 43">
			<path d="M48.4 26.5c-.9 0-1.7.7-1.7 1.7v11.6h-43.3v-11.6c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v13.2c0 .9.7 1.7 1.7 1.7h46.7c.9 0 1.7-.7 1.7-1.7v-13.2c0-1-.7-1.7-1.7-1.7zm-24.5 6.1c.3.3.8.5 1.2.5.4 0 .9-.2 1.2-.5l10-11.6c.7-.7.7-1.7 0-2.4s-1.7-.7-2.4 0l-7.1 8.3v-25.3c0-.9-.7-1.7-1.7-1.7s-1.7.7-1.7 1.7v25.3l-7.1-8.3c-.7-.7-1.7-.7-2.4 0s-.7 1.7 0 2.4l10 11.6z"/></svg>
	</div>

	<!-- JavaScript -->
	<script type="text/javascript">
		// modified from http://html5demos.com/file-api
		var holder = document.getElementById('holder');
		// var state = document.getElementById('status');

		// if (typeof window.FileReader === 'undefined') {
		//     state.className = 'fail';
		// } else {
		//     state.className = 'success';
		//     state.innerHTML = 'File API & FileReader available';
		// }

		holder.ondragover = function() {
			console.log('dragover')
	    return false;
		};
		holder.ondragenter = function() {
			console.log('entering')
			$('#holder').toggleClass('hover');
			$('.upload_msg').toggleClass('hidden');
			$('.upload_icon').toggleClass('hidden');
			return false;
		};
		holder.ondragend = function() {
			console.log('dragend')
	    return false;
		};
		holder.ondragleave = function() {
			console.log('leaving')
			$('#holder').toggleClass('hover');
			$('.upload_msg').toggleClass('hidden');
			$('.upload_icon').toggleClass('hidden');
			return false;
		};
		holder.ondrop = function(e) {
			console.log('dropping')
	    $('#holder').toggleClass('hover');
	    $('.upload_msg').toggleClass('hidden');
	    $('.upload_icon').toggleClass('hidden');
	    e.preventDefault();

	    var file = e.dataTransfer.files[0],
	        reader = new FileReader();
	    reader.onload = function(event) {
	        console.log(event.target);
	        holder.innerText = event.target.result;
	    };
	    
	    reader.readAsText(file);

	    return false;
		};
		//make the entire page listen to upload file
	</script>

</body>
