<div id="left-region" style="min-height: 100%; height: 100%;"></div>
<div id="right-region"></div>

<%= javascript_tag do %>
  $(function() {
    app1 = SeeIt.new($("#left-region"));
  });

<% end %>