<div id="left-region" style="min-height: 100%; height: 100%;"></div>
<div id="right-region"></div>

<%= javascript_tag do %>
  $(function() {
		var testData = [{
			title: "Dataset 1", 
			dataset: [
			  ['', 'Kia', 'Nissan', 'Toyota', 'Honda', 'Mazda', 'Ford'],
			  ['2012', 10, 11, 12, 13, 15, 16],
			  ['2013', 12, 11, 12, 13, 15, 16],
			  ['2014', 15, 11, 12, 13, 15, 16],
			  ['2015', 10, 11, 12, 13, 15, 16],
			  ['2016', 5, 11, 12, 13, 15, 16]
			],
			isLabeled: true
			},{
			title: "Dataset 2",
			dataset: [
			  ["", "Ford", "Volvo", "Toyota", "Honda"],
			  ["2016", 10, 11, 12, 13],
			  ["2017", 20, 11, 14, 13],
			  ["2018", 30, 15, 12, 13]
			],
			isLabeled: true
			},{
			title: "Dataset 3",
			dataset: {
			  labels: ['A', 'B', 'C'],
			  columns: [
			    {
			      header: 'a',
			      type: "numeric",
			      data: [2,3,4]
			    },
			    {
			      header: 'b',
			      type: "numeric",
			      data: [21,34,45]
			    }
			  ]
			},
			isLabeled: true
		}];

	var newData = {
		title: "Random Data",
		dataset: [[1,2,3,4,5]],
		isLabeled: false
	};

	for(var i = 1; i <= 100; i++) {
		newData.dataset.push([]);
		for(var j = 0; j < 5; j++) {
		  newData.dataset[i].push(Math.random() * 10);
		}
	}

    testData.push(newData);

    app1 = SeeIt.new(
        {"container":"#left-region","data":[{"title":"Dataset 1","dataset":{"labels":["2012","2013","2014","2015","2016"],"columns":[{"header":"Kia","type":"numeric","data":[10,12,15,10,5]},{"header":"Nissan","type":"numeric","data":[11,11,11,11,11]},{"header":"Toyota","type":"numeric","data":[12,12,12,12,12]},{"header":"Honda","type":"numeric","data":[13,13,13,13,13]},{"header":"Mazda","type":"numeric","data":[15,15,15,15,15]},{"header":"Ford","type":"numeric","data":[16,16,16,16,16]}]},"isLabeled":true},{"title":"Dataset 2","dataset":{"labels":["2016","2017","2018"],"columns":[{"header":"Ford","type":"numeric","data":[10,20,30]},{"header":"Volvo","type":"numeric","data":[11,11,15]},{"header":"Toyota","type":"numeric","data":[12,14,12]},{"header":"Honda","type":"numeric","data":[13,13,13]}]},"isLabeled":true},{"title":"Dataset 3","dataset":{"labels":["A","B","C"],"columns":[{"header":"a","type":"numeric","data":[2,3,4]},{"header":"b","type":"numeric","data":[21,34,45]}]},"isLabeled":true},{"title":"Random Data","dataset":{"labels":["1","2","3","4","5","6","7","8","9","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","26","27","28","29","30","31","32","33","34","35","36","37","38","39","40","41","42","43","44","45","46","47","48","49","50","51","52","53","54","55","56","57","58","59","60","61","62","63","64","65","66","67","68","69","70","71","72","73","74","75","76","77","78","79","80","81","82","83","84","85","86","87","88","89","90","91","92","93","94","95","96","97","98","99","100"],"columns":[{"header":"1","type":"numeric","data":[0.053912855219095945,0.5379915563389659,6.438495807815343,5.390882629435509,2.9453898570500314,1.2576886638998985,9.868013220839202,4.5990109466947615,2.1051986212842166,2.3599542886950076,9.381594634614885,3.78010913496837,2.0077558583579957,2.7475740597583354,9.6216432005167,7.215047429781407,0.5956881446763873,1.4006759109906852,4.709808109328151,1.4398691430687904,5.024795748759061,0.7961005624383688,1.6326718195341527,6.744961403310299,2.5051062321290374,3.899937500245869,7.592985455412418,0.7375836744904518,4.0462921326979995,9.339498316403478,9.605839007999748,4.206565183121711,0.20864809630438685,6.415143082849681,1.729415850713849,6.601097921375185,3.7680486915633082,1.2879594322293997,8.288565394468606,7.873147050850093,8.013262071181089,1.4539447543211281,6.169293357525021,3.6068841349333525,0.3370137792080641,8.262693646829575,3.1047644768841565,1.3655490311793983,0.14138271566480398,2.8336095064878464,0.46307646203786135,1.69746762374416,9.70495427493006,7.95853842748329,3.3960868837311864,4.20249194605276,7.486143347341567,0.39270890643820167,0.8140407199971378,9.987253674771637,9.568076566793025,3.9961543190293014,7.113833902403712,1.0233549890108407,6.764090810902417,5.669461863581091,9.65342920506373,2.083578605670482,9.145712067838758,7.522798157297075,3.841289149131626,7.9741330072283745,9.502975270152092,9.081816265825182,1.6643374226987362,5.936798581387848,4.293693520594388,0.6226180773228407,2.325604585930705,5.401536622084677,5.716203839983791,1.2995440885424614,8.461886360310018,7.977709351107478,4.368287937249988,9.296219279058278,6.451703924685717,7.285961518064141,3.041823897510767,9.262410870287567,5.151349464431405,1.8152059731073678,3.4901358443312347,0.981407193467021,7.293981846887618,3.2932518585585058,4.674506632145494,0.10923700174316764,8.386005754582584,7.176439082249999]},{"header":"2","type":"numeric","data":[2.06335402559489,9.93919798405841,8.655396373942494,7.641622710507363,0.4068780248053372,8.664304700214416,9.086754729505628,8.937428675126284,0.6069878418929875,3.789953659288585,8.984920582734048,2.9035572661086917,3.6331494944170117,3.9029324403963983,7.041049355175346,1.022139040287584,0.2869036141782999,6.660959606524557,6.635603769682348,3.439869577996433,7.1433300618082285,4.943915158510208,9.579833711031824,4.193897801451385,2.1320194704458117,3.3996797539293766,6.592714560683817,9.932780400849879,2.1217164187692106,8.758281925693154,2.0787573233246803,1.953911583404988,1.9511815276928246,7.595542173366994,3.944916205946356,0.2576842764392495,5.370467316824943,4.476723086554557,9.235224749427289,7.944470313377678,4.200650327838957,7.200777702964842,3.5947363753803074,8.443786117713898,6.360742466058582,2.6078935409896076,3.934864215552807,3.3733573858626187,9.159681347664446,5.029851656872779,9.33523589046672,7.785362850409001,9.17361699277535,7.457372515928,7.690310413017869,8.560258666984737,8.993426125962287,0.597959088627249,8.34615068975836,8.890241684857756,1.152699189260602,8.151097290683538,6.22914734762162,2.385991858318448,9.052337857428938,1.642278153449297,0.008936419617384672,0.8176181674934924,4.724620406050235,1.1190827074460685,5.905595265794545,8.71128355152905,7.380611463449895,2.6632354338653386,0.5740963853895664,1.7249813093803823,2.8686736500822008,5.87299527367577,4.410717561841011,9.726643511094153,4.419739926233888,3.3344653178937733,4.156527696177363,3.073788215406239,7.741150702349842,8.342972497921437,6.736584578175098,9.676240959670395,9.172899834811687,8.790989776607603,8.823967608623207,0.7775728753767908,3.524848024826497,6.13412321312353,4.205792527645826,3.510905101429671,0.03964765463024378,9.644970919471234,5.895510844420642,4.932358933147043]},{"header":"3","type":"numeric","data":[5.97754797199741,2.56087604444474,3.0828622821718454,3.5276035871356726,6.089783473871648,3.6320611694827676,1.7730726161971688,9.345441225450486,4.004538075532764,0.42141468031331897,5.584070647601038,6.137814114335924,1.9140568748116493,7.417891209479421,3.845415418036282,0.5024280538782477,3.0318498774431646,9.602222531102598,2.4445391236804426,7.070212815888226,7.921097113285214,7.573938982095569,3.1932390155270696,3.603538426104933,3.9859702391549945,2.472547427751124,9.130192855373025,6.7231888603419065,8.362803331110626,9.412596328184009,3.7214046670123935,2.8190545015968382,3.5738705564290285,2.6152826636098325,4.394479221664369,6.117481121327728,9.476742886472493,4.002256570383906,8.560795017983764,3.886875710450113,5.347390444949269,3.7820001412183046,9.422827560920268,7.820961445104331,6.746846549212933,5.279718053061515,3.1963199260644615,7.88804292678833,6.5587055729702115,8.287392612546682,1.856407020241022,5.135578759945929,7.825852888636291,0.2709149522706866,1.2865285412408412,7.807437954470515,9.127543873619288,1.2149835680611432,7.342105151619762,8.656121937092394,4.422983187250793,0.5160268093459308,2.7665632544085383,3.2274762634187937,1.2204206176102161,2.727891916874796,1.1913872067816556,2.880622635129839,3.7034555221907794,8.261275249533355,9.063848697114736,0.7736691180616617,6.174710534978658,3.14434313448146,1.008339759428054,3.929979468230158,7.295227753929794,1.4935433841310441,4.067282439209521,0.1579223247244954,6.630721101537347,6.66806232649833,9.697879396844655,5.523455198854208,8.034060033969581,0.1818589586764574,3.1597748585045338,1.418088460341096,4.988082977943122,9.17124037630856,3.6662908014841378,0.9712746785953641,9.342417677398771,9.514227372128516,8.001137089449912,7.901033561211079,4.8680734797380865,7.519296549726278,7.362052227836102,9.209452557843179]},{"header":"4","type":"numeric","data":[6.434281673282385,7.695984188467264,9.060004488565028,8.973743102978915,0.14428410911932588,2.4238878418691456,1.0679845022968948,5.764373077545315,9.445211405400187,8.026199534069747,0.8160435827448964,6.070871627889574,4.2647284851409495,8.324273079633713,0.3802154120057821,8.818306582979858,9.245952249038965,6.933699240908027,8.809542171657085,9.679577350616455,2.4147641751915216,3.265326938126236,0.3405718505382538,8.102735232096165,4.567188567016274,3.788770369719714,4.952489549759775,1.6715282201766968,7.578272975515574,7.819246619474143,3.1355622317641973,2.5246273446828127,3.0729630147106946,8.527413674164563,1.1703786137513816,9.438716545701027,4.437630043830723,8.21075730258599,7.445497631561011,7.912507490254939,3.4828586014918983,6.973419415298849,2.4458414665423334,6.980114025063813,8.150236033834517,3.249245220795274,5.874109754804522,6.439308871049434,6.0526132746599615,7.9298903327435255,3.613416850566864,4.483872461132705,5.218014046549797,4.672265155240893,8.611202337779105,3.1906367815099657,7.123778031673282,7.523359232582152,1.8764227628707886,6.137593379244208,5.212950881104916,3.9133273507468402,6.2702040444128215,7.716247870121151,5.452091901097447,8.964885915629566,1.9632466556504369,2.6488322555087507,9.570533374790102,7.093459675088525,8.69678808376193,0.6505532120354474,1.3637476856820285,8.75439879251644,1.758814719505608,5.123502647038549,6.795154090505093,1.0910073784179986,0.5305143911391497,7.375051751732826,4.32762568583712,7.719272822141647,1.5656959940679371,8.01109723513946,9.12517567165196,8.926452589221299,7.054376853629947,0.6571970297954977,3.931993185542524,4.931431787554175,9.415370794013143,3.282995589543134,1.3154610572382808,0.4013159638270736,5.6215334590524435,0.6696170894429088,0.039473967626690865,7.924027352128178,1.6041315207257867,4.067042844835669]},{"header":"5","type":"numeric","data":[2.6381313521414995,3.5374491452239454,9.485115164425224,4.170570718124509,1.5212836558930576,6.576666114851832,7.10431138984859,3.004277318250388,5.947375420946628,7.490045668091625,4.6125921863131225,9.20157581102103,0.5320360558107495,2.991938921622932,5.2283478318713605,1.6260742442682385,2.1030265535227954,8.399249813519418,3.6248023132793605,1.5403470979072154,1.9992744596675038,0.05555220413953066,0.4352006781846285,7.384285929147154,5.150523090269417,9.130899249576032,2.212247848510742,0.20876326598227024,1.2383893574588,5.952207918744534,0.5099440179765224,4.056171828415245,0.5560899968259037,5.527548301033676,3.1658505694940686,8.9166021742858,9.207086791284382,6.221136166714132,6.190044886898249,7.453921756241471,2.252782629802823,4.506790987215936,2.273420812562108,5.293420373927802,5.109724642243236,0.20871533313766122,1.4597255433909595,3.2642220542766154,9.866002118214965,0.9211948467418551,6.285029370337725,2.9897230747155845,0.809022260364145,9.677462950348854,6.236430385615677,3.427135646343231,5.525813293643296,1.2616958376020193,5.74868273222819,2.151176908519119,9.428467086981982,4.9144958751276135,4.258101107552648,8.937284462153912,1.3340581255033612,4.3832997302524745,1.1858483334071934,3.5170781053602695,5.598309491761029,8.8383969059214,9.36940549639985,0.688200353179127,0.9688210394233465,9.273109750356525,4.019319452345371,6.769376143347472,9.149360780138522,2.108623650856316,5.181659427471459,5.937567236833274,4.619656403083354,3.531460645608604,2.0662323967553675,5.153316298965365,4.560756799764931,1.4222924248315394,4.169706373941153,0.5409367219544947,1.4424151671119034,2.563506104052067,8.002598022576421,8.749156289268285,0.4104820406064391,5.760175567120314,6.298981590662152,4.480640636757016,1.8262719735503197,5.134129631333053,5.059740960132331,6.348404940217733]}]},"isLabeled":true}],"ui":{"editable":true,"spreadsheet":true,"dataMenu":true,"toolbar":true,"graph_editable":true},"graph_settings":[{"type":"Bar Chart","defaults":[{"label":"Test","default":false}],"disable":["Test 2"]}],"graphs":[{"type":"Bar Chart","data":[{"dataset_title":"Dataset 1","column_header":"Kia","role_in_graph":"default"},{"dataset_title":"Dataset 1","column_header":"Nissan","role_in_graph":"default"},{"dataset_title":"Dataset 1","column_header":"Toyota","role_in_graph":"default"}],"filters":["AND",["AND",{"dataset_title":"Dataset 1","column_header":"Kia","comparison":"lt","value":12}]]},{"type":"Distribution Dot Plot","data":[{"dataset_title":"Random Data","column_header":"1","role_in_graph":"default"},{"dataset_title":"Random Data","column_header":"2","role_in_graph":"default"}],"filters":[]}]}
    );

    // app1 = SeeIt.new({
    // 	container: $("#left-region"),
    // 	data: testData,
    // 	ui: {
    // 		editable: true,
    // 		spreadsheet: true,
    // 		dataMenu: true,
    // 		toolbar: true,
    // 		graph_editable: true
    // 	},
    // 	graph_settings: [
    // 		{
    // 			type: "Bar Chart",
    // 			defaults: [{label: "Test", default: false}],
    // 			disable: ["Test 2"]
    // 		}
    // 	],
    // 	graphs: [
    // 		{
    // 			type: "Bar Chart",
    // 			data: [
    // 				{
    // 					dataset_title: "Dataset 1",
    // 					column_header: "Kia",
    // 					role_in_graph: "default"
    // 				},
    // 				{
    // 					dataset_title: "Dataset 1",
    // 					column_header: "Nissan",
    // 					role_in_graph: "default"
    // 				},
    // 				{
    // 					dataset_title: "Dataset 1",
    // 					column_header: "Toyota",
    // 					role_in_graph: "default"
    // 				}
    // 			]
    // 		},
    // 		{
    // 			type: "Distribution Dot Plot",
    // 			data: [
    // 				{
    // 					dataset_title: "Random Data",
    // 					column_header: "1",
    // 					role_in_graph: "default"
    // 				},
    // 				{
    // 					dataset_title: "Random Data",
    // 					column_header: "2",
    // 					role_in_graph: "default"
    // 				}
    // 			]
    // 		}
    // 	]
    // });
  });

<% end %>