<div id="left-region" style="min-height: 100%; height: 100%; width:30%; float:left;"></div>
<div id="right-region" style="width: 70%; float:right; padding: 5px;">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam tincidunt aliquet eleifend. Fusce luctus ipsum nec ultrices pellentesque. Ut cursus rhoncus arcu id porttitor. Phasellus dictum placerat elit id eleifend. Ut vel lacinia mi. Nam hendrerit odio in varius faucibus. Donec nec ultricies nulla, in volutpat lacus.

        Pellentesque a consectetur nulla. Quisque lobortis lorem metus, et iaculis felis varius nec. Donec sollicitudin ac magna nec rhoncus. Etiam ultricies dignissim lectus, sed maximus sapien dapibus ac. Pellentesque ex nulla, pulvinar id lacinia cursus, iaculis placerat leo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In eu nibh quis quam malesuada auctor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc pretium consectetur urna, eget tempor eros posuere et.

        Aliquam sit amet orci felis. Vestibulum nec tristique ex, eu ultricies odio. Sed at enim feugiat nulla sodales convallis. Sed tincidunt, risus pulvinar tincidunt eleifend, lacus lacus feugiat quam, non ullamcorper ligula nibh at velit. Mauris quis vehicula nisl, imperdiet sollicitudin ipsum. Nullam non iaculis risus. Mauris elit elit, faucibus vel elit sit amet, convallis commodo massa. Donec justo enim, feugiat in tincidunt vel, sagittis vel quam. Curabitur ac dolor nec odio blandit dictum ac ac risus. Phasellus in risus ipsum. Donec ac dui non leo pretium laoreet. Etiam eget lacus cursus, consequat lectus ac, mollis orci. Vivamus id tortor arcu.

        Mauris vel dolor condimentum, aliquet tellus id, accumsan nulla. Cras vehicula risus id molestie aliquet. Vivamus mauris erat, tincidunt quis pretium a, elementum eu metus. Aenean orci orci, maximus eget sapien eu, egestas finibus velit. Nunc imperdiet nibh sed orci feugiat iaculis. Vivamus lobortis arcu ex, eu finibus lorem sagittis eget. Morbi aliquet nibh id ultricies commodo. Aliquam sapien erat, scelerisque quis odio id, commodo finibus tortor. Etiam condimentum et ante ut ultricies. Praesent blandit posuere ex, nec viverra lacus auctor ac. Curabitur faucibus turpis ut suscipit semper. Suspendisse elementum placerat massa eget tristique. Mauris sollicitudin lobortis tortor, id hendrerit turpis luctus sed. Vivamus nec metus urna.

        Suspendisse sed imperdiet dolor, id imperdiet mi. Aliquam gravida dignissim elementum. Cras sit amet mi vestibulum, semper enim ac, blandit tortor. Nam accumsan consequat maximus. Duis vestibulum orci purus, eget rutrum ante semper ac. Nam id turpis id mi eleifend facilisis. Vestibulum ac magna dignissim, viverra dolor vel, varius tortor. Morbi sem lorem, finibus at ornare et, finibus sed sem. Mauris fringilla maximus erat, volutpat dignissim magna interdum quis. In ut enim in neque bibendum ornare.x`x
    </p>

</div>

<script type="text/javascript">
    $(function() {
        app1 = SeeIt.new({container: $("#left-region")});
    });
</script>